@model IEnumerable<GestionaleAlbergo.Models.ServizioAggiuntivoPrenotazione>

@{
    ViewBag.Title = "Index";
    if (TempData["msgErrore"] != null)
    {
        ViewBag.msgErrore = TempData["msgErrore"];
    }
    if (TempData["msgSuccess"] != null)
    {
        ViewBag.msgSuccess = TempData["msgSuccess"];
    }
    var prenotazioneID = ViewBag.PrenotazioneId;
}

<h1>Aggiungi un servizio aggiuntivo</h1>

@Html.ActionLink("Aggiungi servizio aggiuntivo a questa prenotazione", "Create", new { id = prenotazioneID }, new { @class = "btn btn-success" })
@Html.ActionLink("Torna a lista prenotazioni", "Index","Prenotazione", null, new { @class = "btn btn-primary" })


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ServizioAggiuntivo.Descrizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServizioAggiuntivo.Prezzo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantita)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServizioAggiuntivo.Descrizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServizioAggiuntivo.Prezzo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantita)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-warning  m-0" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-outline-danger  m-0" })
            </td>
        </tr>
    }

</table>
